@font-face {
    font-family: PragmataPro;
    src: url("../fonts/PragmataPro_0829.ttf");
}

@font-face {
    font-family: PragmataProLiga;
    src: url("../fonts/PragmataPro_liga_0829.ttf");
}

@font-face {
    font-family: PragmataProMono;
    src: url("../fonts/PragmataPro_Mono_R_0829.ttf");
}

@font-face {
    font-family: PragmataProMonoLiga;
    src: url("../fonts/PragmataPro_Mono_R_liga_0829.ttf");
}
