@import 'reset', 'colors', 'fonts';

body {
    background: $main-bg-dark;
    color: $main-fg-dark;
    font-family: PragmataProMonoLiga;
}

h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 2em;
}
